---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>sostalog</title>
  </head>
  <body class="bg-white text-zinc-900">
    <h1 class="text-3xl font-bold">sostalog (scaffolding)</h1>
  </body>
</html>
