---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Showcase from '../components/Showcase.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Showcase />
  </main>
</Base>
