---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Showcase from '../components/Showcase.astro';
import Beats from '../components/Beats.astro';
import Pillars from '../components/Pillars.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Showcase />
    <Beats />
    <Pillars />
  </main>
</Base>
